<h1 style="text-align: center; color: #1890ff;">Nouveau service</h1>
<div nz-row>
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8" *ngIf="!loading">
        <form #serviceForm="ngForm">
            <input nz-input placeholder="Nom" [(ngModel)]="service.nom" name="nom" type="text" nzSize="large" />
            <br />
            <br />
            <input nz-input placeholder="Prix" [(ngModel)]="service.prix" name="prix" type="text" nzSize="large" />
            <br />
            <br />
            <input nz-input placeholder="Durée" [(ngModel)]="service.duree" name="duree" type="number" nzSize="large" />
            <br />
            <br />
            <input nz-input placeholder="Taux commission" [(ngModel)]="service.taux_commission" name="taux_commission" type="number" nzSize="large" />
            <br />
            <br />
            <!-- <input nz-input placeholder="Photo" [(ngModel)]="service.photo" name="photo" type="file" nzSize="large" (change)="onFileSelected($event)"/> -->
            <div class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelect($event)">
              <ngx-dropzone-label>
                <div>
                  <h5>Glissez ou déposez une photo ici.</h5>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
            <br />
            <br />
            <div>
                <button (click)="onClick()" style="width: 100%;" type="button" nz-button nzType="primary" nzSize="large" nzShape="round">Enregistrer</button>
            </div>
        </form>
    </div>
    <div *ngIf="loading" nz-col nzSpan="8">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div nz-col nzSpan="8"></div>

</div>
