<nz-layout class="layout">
    <div class="site-page-header-ghost-wrapper" style="z-index: 100;">
        <nz-page-header [nzGhost]="false">
            <nz-page-header-title>
                <h1 nz-typography style="color: #fff;">Beauty-Full</h1>
            </nz-page-header-title>
            <nz-page-header-extra>


                <nav class="menu">
                    <ul>
                        <li><a (click)="navigate('/employe')" class="lien">
                                <span class="icone" nz-icon nzType="calendar" nzTheme="outline"></span>
                                <span>Rendez-vous</span>
                            </a></li>
                        <li><a (click)="navigate('/employe/profil')" class="lien">
                                <span class="icone" nz-icon nzType="user" nzTheme="outline"></span>
                                <span>Mon profil</span>
                            </a></li>
                        <li><a (click)="navigate('/employe/tache')" class="lien">
                                <span class="icone" nz-icon nzType="ordered-list" nzTheme="outline"></span>
                                <span>Suivi des tâches</span>
                            </a></li>
                        <li><a (click)="seDeconnecter()" class="lien">
                                <span class="icone" nz-icon nzType="logout" nzTheme="outline"></span>
                                <span>Se déconnecter</span>
                            </a></li>
                    </ul>
                </nav>



            </nz-page-header-extra>
        </nz-page-header>
    </div>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>
        <nz-card nzTitle="Copyright 2024">
            <div nz-card-grid>Rajaofera Maharo Steven</div>
            <div nz-card-grid>Beauty-Full</div>
            <div nz-card-grid>Razafiarison Miaro Andy</div>
        </nz-card>
    </nz-footer>
</nz-layout>



