<h1 nz-typography style="text-align: center; color: #1890ff;">Rendez-vous</h1>
<nz-calendar *ngIf="!loading">
    <ul *nzDateCell="let date" class="events">
        @for (item of rdv; track $index) {
            @if(memeDate(date,item.date)){
                <li>
                    <nz-badge (click)="showModal(item._id)" nzStatus="success" [nzText]="item.service.nom"></nz-badge>
                </li>
            }
        }
    </ul>
    
</nz-calendar>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Information du Rendez-Vous" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
        <p>Service: <span>{{detailsRDV?.service?.nom}}</span></p>
        <p>à: <span>{{getHeure(detailsRDV?.date)}}</span></p>
        <p>Client: <span>{{detailsRDV?.client?.nom}} {{detailsRDV?.client?.prenom}}</span></p>
        <p *ngIf="detailsRDV?.statut==1"><span>Payé</span></p>
        <p *ngIf="detailsRDV?.statut==0"><span>Non Payé</span></p>
        <p *ngIf="detailsRDV?.statut==2"><span>Terminé</span></p>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Retour</button>
        <button *ngIf="detailsRDV?.statut!==2" nz-button nzType="primary" style="background: #009688;" (click)="handleOk(detailsRDV?._id)" [nzLoading]="isConfirmLoading">Prendre le rendez-vous</button>
    </div>
</nz-modal>

<spinner-root [loading]="loading" />