<h1 nz-typography style="text-align: center; color: #1890ff;">Liste service</h1>
<div *ngIf="!loading">
  <nz-table #borderedTable nzBordered nzFooter="{{nbrServices}} résultats" nzTitle="Liste des services" [nzData]="services">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Taux commission</th>
              <th>Durée</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of borderedTable.data">
              <td>{{ data.nom }}</td>
              <td>{{ data.prix }}</td>
              <td>{{ data.taux_commission * 100}}</td>
              <td>{{ data.duree }}</td>
              <td><button routerLink="{{data._id}}" nz-button nzType="primary">Détails</button></td>
          </tr>
      </tbody>
  </nz-table>
</div>
<div *ngIf="loading"  style="text-align: center; margin-top: 100px;">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
