<div>
  <h2>Temps moyen de travail pour chaque employé</h2>
  <div *ngFor="let stat of tempsTravailMoyen">
    <p>{{ stat.nom }} {{ stat.prenom }} - Temps moyen de travail : {{ stat.temps_moyen_travail }} heures</p>
  </div>
</div>

<div style="width: 600px;">
  <h2>Réservations par jour</h2>
  <canvas id="reservationsParJourChart"></canvas>
</div>

<div style="width: 600px;">
  <h2>Réservations par mois</h2>
  <canvas id="reservationsParMoisChart"></canvas>
</div>

<div style="width: 600px;">
  <h2>Chiffre d'affaires par jour</h2>
  <canvas id="chiffreAffairesParJourChart"></canvas>
</div>

<div style="width: 600px;">
  <h2>Chiffre d'affaires par mois</h2>
  <canvas id="chiffreAffairesParMoisChart"></canvas>
</div>

<div style="width: 600px;">
  <h2>Bénéfice par mois</h2>
  <canvas id="beneficeParMoisChart"></canvas>
</div>
