<h1 nz-typography style="text-align: center; color: #1890ff;">Fiche depense</h1>
<div *ngIf="loading" style="text-align: center; margin-top: 100px;">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div nz-row *ngIf="!loading">
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8" >

        <nz-card style="width:100%; text-align: center;" nzTitle="Depense du {{depense.date | date: 'dd/MM/yyyy'}}" [nzActions]="[ actionEdit,actionDelete]" >
                <p *ngIf="depense.salaire"><strong>Salaire:</strong> {{depense.salaire}} Ar</p>
                <p *ngIf="depense.loyer"><strong>Loyer:</strong> {{depense.loyer}} Ar</p>
                <p *ngIf="depense.achat_piece"><strong>Achat piece:</strong>{{depense.achat_piece}} Ar</p>
                <p *ngIf="depense.autres_depenses"><strong>Autres dépense:</strong> {{depense.autres_depenses}} Ar</p>
        </nz-card>
        <ng-template #actionEdit>
            <span nz-icon nzType="edit"></span>
        </ng-template>
        <ng-template #actionDelete>
            <span nz-icon nzType="delete" nzTheme="outline"></span>
        </ng-template>
    </div>

    <div nz-col nzSpan="8"></div>

</div>
<br>
<br>
