<h1 nz-typography style="text-align: center; color: #1890ff;">Fiche depense</h1>
<div *ngIf="loading" style="text-align: center; margin-top: 100px;">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div nz-row *ngIf="!loading">
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8" >

        <nz-card style="width:100%; text-align: center;"  [nzActions]="[ actionEdit,actionDelete]" >
            <nz-card-meta nzTitle="{{depense.date}}" nzDescription="{{depense.salaire}} Ar - {{depense.loyer}} Ar - {{depense.achat_piece}} Ar - {{depense.autres_depenses}} Ar"
                ></nz-card-meta>
        </nz-card>
        <ng-template #actionEdit>
            <span nz-icon nzType="edit"></span>
        </ng-template>
        <ng-template #actionDelete>
            <span nz-icon nzType="delete" nzTheme="outline"></span>
        </ng-template>
    </div>

    <div nz-col nzSpan="8"></div>

</div>
<br>
<br>
