<nz-layout class="layout">
    <div class="site-page-header-ghost-wrapper" style="z-index: 100;">
        <nz-page-header [nzGhost]="false">
            <nz-page-header-title>
                <h1 nz-typography style="color: #fff;">Beauty-Full</h1>
            </nz-page-header-title>
            <nz-page-header-extra>
                <nav class="menu">
                    <ul>
                        <li><a (click)="navigate('/client')" class="lien">
                            <span class="icone" nz-icon nzType="home" nzTheme="outline"></span>
                            <span>Accueil</span>
                        </a></li>
                        <li><a (click)="navigate('')" class="lien">
                            <span class="icone" nz-icon nzType="shopping" nzTheme="outline"></span>                            
                            <span>Payement</span>
                            <span *ngIf="estConnecte" class="badge">3</span>
                        </a></li>
                        <li><a (click)="navigate('/client/profil')" class="lien">
                            <span class="icone" nz-icon nzType="user" nzTheme="outline"></span>
                            <span>Mon profil</span>
                        </a></li>
                        <li *ngIf="!estConnecte"><a (click)="navigate('login/client')" class="lien">
                            <span class="icone" nz-icon nzType="login" nzTheme="outline"></span>
                            <span>Se connecter</span>
                        </a></li>
                        <li *ngIf="estConnecte"><a (click)="seDeconnecter()" class="lien">
                            <span class="icone" nz-icon nzType="logout" nzTheme="outline"></span>
                            <span>Se déconnecter</span>
                        </a></li>
                    </ul>
                </nav>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>
        <nz-card nzTitle="Copyright 2024">
            <div nz-card-grid>Rajaofera Maharo Steven</div>
            <div nz-card-grid>Beauty-Full</div>
            <div nz-card-grid>Razafiarison Miaro Andy</div>
        </nz-card>
    </nz-footer>
</nz-layout>