<h1 nz-typography style="text-align: center; color: #1890ff;">Liste employée</h1>
<div *ngIf="employes">
    <nz-table #borderedTable nzBordered nzFooter="{{nbrEmployes}} résultats" nzTitle="Liste des employés" [nzData]="employes">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of borderedTable.data">
                <td>{{ data.nom }}</td>
                <td>{{ data.prenom }}</td>
                <td>{{ data.email }}</td>
                <td><button type="button" (click)="onClick(data._id)" nz-button nzType="primary">Détails</button></td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="!employes" style="text-align: center; margin-top: 100px;">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>