<div class="profile">
    <div class="profile-header">
        <h1>Profil Utilisateur</h1>
        <p>Bienvenue sur votre profil</p>
    </div>
    <div class="profile-info">
        <h2>Information personnelle</h2>
        <p>Nom</p>
        <p>Prenom</p>
        <p>Email</p>
        <p>Numero</p>
    </div>
    <div class="profile-tabs">
        <ul>
            <li >Favoris</li>
            <li >Historique des RDV</li>
        </ul>
    </div>
    <div class="profile-content">
        <div  class="profile-favorites">
            <h2>Services Favoris</h2>
            <ul>
                <li ></li>
            </ul>
        </div>
        <div  class="profile-appointments">
            <h2>Historique des RDV</h2>
            <ul>
                <li ></li>
            </ul>
        </div>
    </div>
</div>