/* register.component.css */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,  #5091AE, #009688);
}

.register-form {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.site-name {
    font-size: 48px;
    color: #009688;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #009688;
    text-align: center;
    /* Couleur du texte */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #009688;
    /* Couleur de fond */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #009688;
    /* Couleur de fond au survol */
}

.error-message {
    color: #ff0000;
    /* Couleur du texte rouge pour les messages d'erreur */
    margin-top: 10px;
    text-align: center;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link a {
    color: #009688;
    /* Couleur du lien */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}