<!-- login.component.html -->

<div class="login-container">
    <h1 class="site-name">Beauty-Full</h1>
    <div class="login-form">
        <h2>Connectez-vous à votre compte</h2>
        <form >
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" placeholder="Entrez votre adresse E-mail" [(ngModel)]="login.email" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" [(ngModel)]="login.mdp" required>
            </div>
            <button type="button" (click)="onClick()">Se connecter</button>
        </form>
        <div *ngIf="loginError" class="error-message">
            Identifiants invalides. Veuillez réessayer.
        </div>
        <div class="register-link">
            <p>Vous n'avez pas de compte ? <a routerLink="/inscription" >Inscrivez-vous ici</a></p>
        </div>
    </div>
</div>