<h1 nz-typography style="text-align: center; color: #1890ff;">Nouvelle employée</h1>
<div nz-row >
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8" *ngIf="!loading">
        <form #employeForm="ngForm">
            <h4>Nom : </h4>
            <input nz-input placeholder="Nom" [(ngModel)]="employe.nom" name="nom" type="text" nzSize="large" />
            <br />
            <br />
            <h4>Prenom : </h4>
            <input nz-input placeholder="Prenom" [(ngModel)]="employe.prenom" name="prenom" type="text" nzSize="large" />
            <br />
            <br />
            <h4>Email : </h4>
            <input nz-input placeholder="Email" [(ngModel)]="employe.email" name="email" type="email" nzSize="large" />
            <br />
            <br />
            <div>  
                <button (click)="onClick()" style="width: 100%;" type="button" nz-button nzType="primary" nzSize="large" nzShape="round">Enregistrer</button>
            </div>
        </form>
    </div>
    <div *ngIf="loading" nz-col nzSpan="8">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <div nz-col nzSpan="8"></div>

</div>

