<nz-layout class="layout">
    <div class="site-page-header-ghost-wrapper" style="z-index: 100;">
        <nz-page-header [nzGhost]="false">
            <nz-page-header-title>
                <h1 nz-typography style="color: #fff;">Beauty-Full</h1>
            </nz-page-header-title>
            <nz-page-header-extra>


                <nav class="menu">
                    <ul>
                        <li><a (click)="navigate('/admin')">Accueil</a></li>
                        <li>
                            <a href="#">Services</a>
                            <ul class="submenu">
                                <li><a (click)="navigate('/admin/service')">Liste services</a></li>
                                <li><a (click)="navigate('/admin/service/add')">Ajout service</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Employés</a>
                            <ul class="submenu">
                                <li><a (click)="navigate('/admin/employe')">Liste employés</a></li>
                                <li><a (click)="navigate('/admin/employe/add')">Ajout employé </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Dépenses</a>
                            <ul class="submenu">
                                <li><a (click)="navigate('/admin/depense')">Liste dépenses</a></li>
                                <li><a (click)="navigate('/admin/depense/add')">Ajout dépense </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>



            </nz-page-header-extra>
        </nz-page-header>
    </div>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>
        <nz-card nzTitle="Copyright 2024">
            <div nz-card-grid>Rajaofera Maharo Steven</div>
            <div nz-card-grid>Beauty-Full</div>
            <div nz-card-grid>Razafiarison Miaro Andy</div>
        </nz-card>
    </nz-footer>
</nz-layout>